*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background-color: rgb(219, 198, 198);
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 50%;
	min-width: 300px;
	padding: 35px 15px;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.wrapper{
	width: 45%;
}
input{
	width: 100%;
	outline: none;
	padding: 5px 10px;
}