*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:linear-gradient(rgb(255, 255, 255) 50% , rgb(255, 123, 0)) ;
}
.container{
	width: 50%;
	min-width: 300px;
	padding: 50px 30px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;
}
.img{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
img{
	width: 30%;
}
p{
	margin: 50px auto 10px;
	font-size: 18px;
}
button{
	padding: 5px 15px;
	border: 0;
	outline: none;
	background-color:  rgb(255, 123, 0);
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	color: #ffffff;
}
.shake{
	animation: shake 0.3s infinite;
}
@keyframes shake{
	0% { rotate: 10deg; }
	50% { rotate: -10deg; }
	100% { rotate: 10deg; }
}