*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: rgb(185, 185, 185);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 40%;
	min-width: 350px;
	background-color: rgb(255, 255, 255);
	padding: 30px 10px;
	border-radius: 10px;
	text-align: center;
}
.set-date{
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}
.set-date input{
	width: 65%;
	height: 35px;
	padding: 7px;
	border-radius: 4px;
	border: 1px solid gray;
	outline: none;
	font-size: 18px;
	color: gray;
}
.set-date button{
	width: 30%;
	height: 35px;
	padding: 7px;
	border-radius: 4px;
	border: 1px solid gray;
	outline: none;
	font-weight: bold;
	background-color: transparent;
	cursor: pointer;
	color: rgb(42, 115, 118);
}
.calc-date{
	display: flex;
	justify-content: space-around;
}
.calc-date div{
	width: 25%;
	background-color: rgb(42, 115, 118);
	border-radius: 5px;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}
.calc-date span{
	font-size: 25px;
	font-weight: bold;
	color: rgb(255, 255, 255);
}
.calc-date p{
	margin-top: 5px;
	color: rgb(255, 255, 255);
}