*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background-color: rgb(228, 193, 243);
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 50%;
	min-width: 300px;
	padding: 30px 23px;
	background-color: #ffffff;
	border-radius: 10px;
}
.search{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.search input{
	width: 70%;
	border: 0;
	outline: none;
	padding: 5px;
	font-size: 16px;
	border-bottom: 3px solid rgb(228, 193, 243);
}
.search button{
	width: 25%;
	border: 0;
	outline: none;
	padding: 5px;
	font-size: 16px;
	border-radius: 3px;
	color: rgb(255, 255, 255);
	background-color: rgb(228, 193, 243);
	cursor: pointer;
}
.word{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.word button{
	border: 0;
	outline: none;
	font-size: 25px;
	background-color: transparent;
	color: rgb(228, 193, 243);
	cursor: pointer;
}
.accent{
 font-size: 14px;
 color: gray;
}
.def{
	margin: 20px auto;
	text-align: justify;
}
.example{
	text-align: justify;
	padding-left: 15px;
	border-left: 3px solid rgb(228, 193, 243);
}